In [5]:
from bank_note import X, y

In [7]:
y

      4
0     0
1     0
2     0
3     0
4     0
...  ..
1367  1
1368  1
1369  1
1370  1
1371  1

[1372 rows x 1 columns]

In [ ]:
xx, yy = np.meshgrid(np.arange(x_min, x_max, h), np.arange(y_min, y_max, h))